.Container {
  width: 90%;
 display: flex;
 justify-content: space-between;
 margin-left: 5%;
}


.MenuList {
  display: none;
}



.Hamburger {
  display: flex;
  flex-direction: column;
  margin-top: 90%;
  cursor: pointer;
}

.Bar {
  background-color: #333;
  height: 3px;
  width: 25px;
  margin: 2px 0;
  border-radius: 15px;
  
}

@media (min-width: 769px) {
  .MenuList {
    display: flex;
    list-style: none;
    width: 50%;
    margin-left: 40%;
    justify-content: space-between;
  }
  
  .MenuList a {
    color: inherit;
   text-decoration: none;
  }
  
  .NavLinks {
    display: block;
    width: 50%;
  }

  .Hamburger {
    display: none;
  }
}